<script type="text/javascript">
	<% date_range = (@date['from']..@date['to']).map{|d| d} %>
	$(function(){
		new Highcharts.Chart({
			chart: {
				renderTo: "main_chart"
			},
			title: {
            text: 'Meeting Room Reservations Analytics'
	        },
	        xAxis: {
	            categories: <%= raw date_range %>
	        },
	        series: [
		        {
		            type: 'column',
		            name: "Total Reservations",
		            data: <%= reservations_arr = date_range.map {|date| Reservation.where(reservation_date: date).count} %>
		        },
		        {
		            type: 'column',
		            name: "Total Reservers",
		            data: <%= date_range.map {|date| Reservation.where(reservation_date: date).select(:employee_id).distinct.count} %>
		        },
		        {
		            type: 'spline',
		            name: "Total Misused Reservations",
		            data: <%= misused_reservations_arr = date_range.map {|date| Reservation.where(reservation_date: date, status: 2).count} %>
		        }
		    ]
		});

		new Highcharts.Chart({
	        chart: {
	            type: 'pie',
	            renderTo: 'pie_chart'
	        },
	        title: {
	            text: ''
	        },
	        subtitle: {
	            text: 'Click the slices to view reserving time counts.'
	        },
	        plotOptions: {
	            series: {
	                dataLabels: {
	                    enabled: true,
	                    format: '{point.name}: {point.y:.1f}%'
	                }
	            }
	        },

	        tooltip: {
	            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
	            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
	        },
	        series: [{
	            name: 'Meeting Rooms',
	            colorByPoint: true,
	            data: [
	            <% meeting_room_reserve = Hash.new %>
	            <% meeting_rooms = MeetingRoom.all %>
	            <% meeting_rooms.each do |mr| %>
	            {
	                name: '<%= mr.room %>',
	                y: <%= reserved_count = Reservation.where(reservation_date: (@date['from']..@date['to']), meeting_room_id: mr.id).count %>,
	                drilldown: <%= mr.id %>
	                <% meeting_room_reserve[mr.room] = reserved_count %>
	            }, 
	            <% end -%>
	            ]
	        }],
	        drilldown: {
	            series: [
	            <% meeting_rooms.each do |mr| %>
	            {
	                name: '<%= mr.room %>',
	                id: <%= mr.id %>,
					<% Reservation.where(reservation_date: (@date['from']..@date['to']), meeting_room_id: mr.id) %>
	                data: [
	                    ['1 hour', <%= Reservation.where(reservation_date: (@date['from']..@date['to']), meeting_room_id: mr.id).count %>]
	                ]
	            }, 
	            <% end -%>
	            ]
	        }
	    });
	});
</script>

<h1>Meeting Room Reservation Analytics</h1>
<%#= Reservation.where(reservation_date: (@date['from']..@date['to']), meeting_room_id: 1).group %>,
<%#= Reservation.where(reservation_date: (@date['from']..@date['to']), meeting_room_id: 1).map {|r| (r.time_end - r.time_start)} %>

<%#= @date['from'].year %>
<%#= Date.strptime(@date['from'], '%Y-%m-%d')..Date.strptime(@date['to'], '%Y-%m-%d') %>
<%# ((Date.new(@date['from'].year,@date['from'].month,@date['from'].day))..(Date.new(@date['to'].year,@date['to'].month,@date['to'].day))).each do |d| %>
<%#= (@date['from']..@date['to']).map{|date| date.strftime("%b %d")} %>
<%#= (@date['from']..@date['to']).map{|d| d.strftime("%F")} %>
<%#= d %>
<%# end -%>
<%= render partial: "analytics_filterB", locals: {date_from: @date['from'], date_to: @date['to']} %>

<!-- <div class="row summary">
	<button><span class="glyphicon glyphicon-triangle-top"></span> Summary </button>
	<div class="details">
		<ul style="list-style:none">
		    <li>Total Number of False/Unused Reservations:  45</li>
		    <li>B:</li>
		    <li>C:</li>
		    <li>D:</li>
		    <li>E:</li>
		</ul>
	</div>
</div> -->

<div class="row chart-view">

	<div class="chart-card-item">
		<div class="card">
		  <div class="panel panel-primary">
		  	<div class="panel-heading"> Room Usage</div>
		    <div class="panel-body" id="main_chart"></div>
			<div class="panel-footer">
				<div class="row">
					<div class="col-xs-4" style="background:white">
						<br>SUMMARY<br><br>
						<ul style="list-style:none;"> 
							<li>Total Number of False/Unused Reservations: 
								<font color="blue"><%= misused_reservations_arr.sum() %></font>
							</li>
							<li>Total Number of Reservations: 
								<font color="blue"><%= reservations_arr.sum() %></font>
							</li>
							<li>Favorite Meeting Room: 
								<font color="blue"><%= meeting_room_reserve.max_by{|k,v| v}[0] %></font>
							</li>
							<li>Most hated Meeting Room: 
								<font color="blue"><%= meeting_room_reserve.min_by{|k,v| v}[0] %></font>
							</li>
							<li>Top Reserver: 
								<% emp_id = Reservation.where(reservation_date: (@date['from']..@date['to'])).group(:employee_id).order('count_id DESC').limit(1).count(:id).keys[0] %>
								<font color="blue"><%= Employee.find(emp_id).first_name %> <%= Employee.find(emp_id).last_name %></font>
							</li>
							<li>Bargains without Reservation: 
								<font color="blue">35</font>
							</li>
							<li>Top Reservation Duration:  
								<font color="blue">1 hour</font>
							</li>
						</ul>
					</div>
					<div class="col-xs-8">
						<div id="pie_chart"></div>
					</div>
				</div>
			</div>
		  </div>
		</div>
	</div>

</div>
