<p id="notice"><%= notice %></p>

<h1>Meeting Rooms</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Room</th>
      <th>Area</th>
      <th>Equipment</th>
      <th>Capacity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meeting_rooms.each do |meeting_room| %>
      <tr>
        <td><%= meeting_room.room %></td>
        <td><%= meeting_room.area %></td>
        <td><%= meeting_room.equipment.resources %></td>
        <td><%= meeting_room.capacity %></td>
        <td><%= link_to 'Show', meeting_room %></td>
        <td><%= link_to 'Edit', edit_meeting_room_path(meeting_room) %></td>
        <td><%= link_to 'Destroy', meeting_room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meeting room', new_meeting_room_path %>
